
.jumbotron{
  background-color:initial !important;
}

.jumbotron  h1, .jumbotron h2 {
  color:white!important;
}

.container-fluid{
  padding:0px;
  max-width: 100%;
}

header{
  margin-top: -18px;
}
.shade{
  background-color: rgba(0,0,0,0.5);
  min-height: 25em;
  position: absolute;
  width: 100% !important;
}

#cover{
  background-image: url('burger1.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height:25em;
  width:100% !important;
}
#cover2{
  background-image: url('pancake.JPG');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height:25em;
  width:100% !important;
}


body {
  text-align: center;
  max-width: 2000px;
}

h1 {
  color: white;
  font-family: Raleway;
  text-align: center;
  font-size: 50px;
  margin: 60px 0 30px 0;
}

h2 {
  font-size:25px;
  font-family: Raleway;
  text-align: center;
}

h3 {
  font-size: 35px;
  font-family:'Raleway';
  color:black;
  padding-bottom: 10px;
  text-align: center;
}
h4{
  font-size: 30px;
  font-family:'Raleway', sans-serif;
  color:black;
  text-align: center;
}

h5{
  font-size: 20px;
  font-family:'Catamaran', sans-serif;
  color:white;
  text-align: center;
}

p{
  font-size: 20px;
  color:black;
  font-family:helvetica;
  /*background:-webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));*/
  padding: 10px;padding: 10px;
  text-align: center;
}

input{
  border:0;
  padding: 10px;
  font-size: 18px;
}
input[type="submit"] {
  background: red;
  color: white;
}
a{
  color: white;
  font-family: "Raleway";
  padding: 10px;
  text-decoration: none;
}
ul{
  padding: 10px;
  background:#000000;
  background-size: cover;
}
li {
  display: inline;
  padding: 80px;
  font-style: normal;
  max-width: 100%;
}

.img-thumbnail:hover{
  background-color: grey;
  transition: all 0.2s;
  opacity: 50%;
}

#bottom{
  background: rgba(32,35,41,0.9);
  padding: 10px 10px 10px 10px;
  max-width: 100%!important;
}

#social-buttons button {
  color:white;
}

#social-buttons {
  padding-bottom:10px;
}

button.btn a:hover {
  text-decoration:none;
  color:white;
}
.btn-twitter{
  background:#00acee;
  border-color:#009ad5;
}
.btn-facebook{
  background:#4868ac;
  border-color:#314776;
}
.btn-linkedin{
  background:#b62f26;
  border-color:#b62f26;
}
